
api-gateway/\.ipynb_checkpoints/

api-gateway/notebooks/\.ipynb_checkpoints/

georef-ar-api/notebooks/\.ipynb_checkpoints/

series-tiempo-ar-api/notebooks/\.ipynb_checkpoints/

*.gz

*.log

*.csv

credentials\.json

data/
